<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FIFA WORLD CUP ANALYSIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootswatch_cerulean/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="./index.html" class="navbar-brand">FIFA WORLD CUP ANALYSIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./map.html" target="_blank">FIFA World Cup 2022 Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./countrygoals.html">Country Goals</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Rest of landing page-->
    <div class="container">

        <!--Custom spacing (to fix bug in the Bootswatch Cerulean template)-->
        <div class="row">
            <div class="col-lg-12 pt-5"></div>
            <div class="col-lg-12 pt-5"></div>
            <div class="col-lg-12 pt-5"></div>
        </div>
        
        <!--Body of document-->
        <div class="bs-docs-section clearfix">
            <div class="row">

                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-5">World Cup Count</h1>
                        <p class="lead">How many FIFA World Cups were won by each country from 1930 to 2018?</p>
                        <hr class="my-4">
                        <div class="d-flex justify-content-center flex-wrap">
                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-5">Goals Scored</h1>
                        <p class="lead">How many goals are scored in each world cup?</p>
                        <canvas id="barChart" style="width:100%"></canvas>
                        <hr class="my-4">
                        <div class="d-flex justify-content-center flex-wrap">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-5">Average Goals Per Match</h1>
                        <p class="lead">What is the average number of goals scored per match in each World Cup?</p>
                        <canvas id="AvgChart" style="width:100%"></canvas>
                        <hr class="my-4">
                        <div class="d-flex justify-content-center flex-wrap">
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../static/js/app.js"></script>
    <!-- Bootstrap JS -->
    <!-- <script src="{{ url_for('static', filename='bootswatch_cerulean/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch_cerulean/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch_cerulean/bootstrap.min.js') }}"></script> -->

    <!-- Custom JS -->
    <!-- <script src="{{ url_for('static', filename='bootswatch_cerulean/custom.js') }}"></script> -->
</body>

</html>