<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HealthTimes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/bootswatch_cerulean/bootstrap.css" media="screen">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" href="#">

    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="./" class="navbar-brand">HealthTimes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Health Indicators <span
                                class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            <a class="dropdown-item" href="./chart">Interactive Chart</a>
                            <a class="dropdown-item" href="./map">Interactive Map</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./hygiene">American Hygiene</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Rest of landing page-->
    <div class="container">

        <!--Custom spacing (to fix bug in the Bootswatch Cerulean template)-->
        <div class="row">
            <div class="col-lg-12 pt-5"></div>
            <div class="col-lg-12 pt-5"></div>
        </div>
        
        <!--Body of document-->
        <div class="jumbotron" style="padding-top: 20px!important; padding-bottom: 10px!important;">
          <h3 class="display-6">Map of Health Indicators</h3>
        </div>

        <!-- The div that holds our map -->
        <div id="map" style="height: 610px; width:100%"></div>

    </div>
    
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootswatch_cerulean/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch_cerulean/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch_cerulean/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch_cerulean/custom.js') }}"></script>

    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- API Key -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>

</html>
